:root {
    --window_width: 600px;
    --font_family: system-ui, 'Lucida Sans', Arial, 'Trebuchet MS', sans-serif;
    --bg_color: beige;
    --border: 3px solid deepskyblue;
    --border_radius: 5px;
    --hover_color: deepskyblue;
}

body {
    font-family: var(--font_family);
    max-width: var(--window_width);
    margin: 50px 0 0 50px; /* top right bottom left */
    background-color: var(--bg_color);
    border: var(--border);
    border-radius: var(--border_radius);
}

.header, #home-container, #quiz-container, #quiz-completed-container, #high-scores-container {
    background-color: sandybrown;
}

.header {
    max-width: var(--window_width);
}

/*
@media only screen and (max-width: 360px) {
    .header {
        height: 150px;
    }
}
*/

.header h4 {
    display: inline-block;
    padding-left: 20px;
    margin-top: 20px;
}

#high-scores-longer {
    display: none;
}

.header nav {
    float: right;
    padding: 20px 20px 0 0;
}

#high-scores-shorter:hover, #high-scores-longer:hover {
    background-color: var(--bg_color);
    border: var(--border);
    border-radius: var(--border_radius);
    padding: 0 20px 5px 20px;
    cursor: default;
}

#home-container {
    max-width: var(--window_width);
    padding-bottom: 20px;
}

#home-container h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

@media only screen and (max-width: 350px) {
    #home-container h2 {
        padding-left: 20px;
    }
}

#quiz-instructions {
    /*padding-left: 20px;*/
    padding: 0 20px 0 20px;
}

#start-quiz-btn {
    display: block;
    margin: 0 auto; /* 0 is top and bottom, auto is right and left. this margin centers the button horizontally. */
}
/* source for how to center a button in a div: https://stackoverflow.com/questions/15300234/how-can-i-horizontally-center-a-button-element-in-a-div-element */

#start-quiz-btn p {
    margin: 2px;
}

#quiz-container {
    display: none;
    max-width: 600px;
    /*max-height: 800px;*/
    padding-bottom: 5px;
}

#current-question {
    margin: 0 0 20px 20px;
}

button {
    font-family: var(--font_family);
    background-color: var(--bg_color);
    border: var(--border);
    border-radius: var(--border_radius);
}

button:hover {
    background-color: var(--hover_color);
    border-color: black;
}

#quiz-container button {
    margin-left: 20px;
}

.choices {
    display: inline-flex;
    margin-bottom: 10px;
}

#quiz-completed-container {
    display: none;
    padding: 0 0 10px 20px;
}

#quiz-completed {
    margin-top: 0;
}

#submit-score {
    display: none;
}

#high-scores-container {
    display: none;
    padding-left: 20px;
}

#high-scores-container h2 {
    margin-top: 0;
}
